# Data Science Tools and Ecosystem

In this notebook, Data Science Tools and Ecosystem are summarized./

###### Objectives:
- List of Data Science Langauges
- Data Science Libraries
- Data Science Tools

## Author
S Srivatsan

Some of the popular languages that Data Scientists use are:
1. R
2. Python
3. Scala

Some of the commonly used libraries used by Data Scientists include:
1. Sciekit-learn
2. Tensorflow
3. PyTorch

| Data Science Tools |
|--------------------|
| Jupyter Notebook |
| JuputerLab |
| Apache Zeppelin |

### Below are a few examples of evaluating arithmetic expressions in Python

In [3]:
# This a simple arithmetic expression to mutiply then add integers
(3*4)+5

17

In [4]:
# This will convert 200 minutes to hours by diving by 60
200/60

3.3333333333333335